<configuration>
    <conversionRule conversionWord="pid"
        converterClass="com.tencent.hydevteam.logback.ProcessIdConverter" />

    <appender name="OfficialLog_FILE"
        class="com.tencent.hydevteam.logback.SDCardRollingFileAppender">
        <file>studyroom_logback/OfficialLog.log</file>
        <rollingPolicy class="com.tencent.hydevteam.logback.SDCardSizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>studyroom_logback/OfficialLog_%d{yyyy-MM-dd}_%i.zip</fileNamePattern>

            <maxFileSize>1MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>30MB</totalSizeCap>

        </rollingPolicy>

        <encoder>
            <pattern>%date %level [%pid:%thread] %logger{10} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE"
        class="com.tencent.hydevteam.logback.SDCardRollingFileAppender">
        <file>studyroom_logback/logFile.log</file>
        <rollingPolicy class="com.tencent.hydevteam.logback.SDCardSizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>studyroom_logback/logFile_%d{yyyy-MM-dd}_%i.zip</fileNamePattern>

            <maxFileSize>1MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>30MB</totalSizeCap>

        </rollingPolicy>

        <encoder>
            <pattern>%date %level [%pid:%thread] %logger{10} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="Bugly" class="com.tencent.hydevteam.logback.BuglyAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <!--https://logback.qos.ch/manual/appenders.html#AsyncAppender-->
    <appender name="ASYNC_Bugly" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="Bugly" />
        <includeCallerData>false</includeCallerData>
        <neverBlock>true</neverBlock>
    </appender>

    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
        <includeCallerData>false</includeCallerData>
        <neverBlock>true</neverBlock>
    </appender>

    <!--https://logback.qos.ch/manual/appenders.html#AsyncAppender-->
    <appender name="ASYNC_OfficialLog_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="OfficialLog_FILE" />
        <includeCallerData>false</includeCallerData>
        <neverBlock>true</neverBlock>
    </appender>

    <root level="Info">
        <appender-ref ref="ASYNC_Bugly" />
        <appender-ref ref="ASYNC_FILE" />
    </root>

    <logger name="OfficialLog" additivity="false" level="INFO">
        <appender-ref ref="ASYNC_Bugly" />
        <appender-ref ref="ASYNC_OfficialLog_FILE" />
    </logger>
</configuration>