<!doctype html>
<html>
<head>
<script>if(/pengyou\.com$/.test(location.hostname)){
	document.domain = 'pengyou.com';
}else if(/qzone\.qq\.com$/.test(location.hostname)){
	document.domain = 'qzone.qq.com';
}else if(/qzone\.com$/.test(location.hostname)){
	document.domain = 'qzone.com';
}else{
	document.domain = 'qq.com';
}var startTime = new Date();</script>
<script>
if (frameElement.g_isPhotoNew){
	location.href = "/qzone/photo/zone/new/photoList.html"+location.hash;
}
</script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="zh-cn" />
<meta name="robots" content="all" />
<meta name="author" content="Tencent-ISRD" />
<meta name="Copyright" content="Tencent" />
<meta name="Description" content="Qzone精彩由你而来" />
<meta name="Keywords" content="Qzone,QQ空间,Blog,博客,网络日志,播客,腾讯,QQ,Tencent" />
<title>相册 - 照片列表</title>
<style>
	.author-display {display:none;}
	.visitor-display {display:none;}
	.qzone-display {display:none;}
	.edit-mode {display:none;}
	.view-mode {}
</style>
<script>
document.write([
	'\<link rel="stylesheet" rev="stylesheet" href="'+frameElement.g_photoCssUrl+'" type="text/css" media="screen" \/\>',
	(frameElement.g_pyStyleUrl ?  //pengyou modify
		'\<link rel="stylesheet" rev="stylesheet" href="'+frameElement.g_pyStyleUrl+'" type="text/css" media="screen" id="g_style" \/\>' :
		'\<link rel="stylesheet" rev="stylesheet" href="'+frameElement.g_styleUrl+'" type="text/css" media="screen" id="g_style" \/\>' +
			'\<link rel="stylesheet" rev="stylesheet" href="'+frameElement.g_skinUrl+'" type="text/css" media="screen" id="g_style" \/\>'),
	'\<link rel="stylesheet" rev="stylesheet" href="http://' + parent.siDomain + '/qzonestyle/global/css/qzfl.css" type="text/css" media="screen" id="g_style" \/\>'
].join(""));
</script>
<!--<link rel="stylesheet" rev="stylesheet" href="/qzonestyle/qzone_client_v5/css/photo_d_out_v2.css" type="text/css" media="screen" />
<link rel="stylesheet" rev="stylesheet" href="/qzonestyle/qzone_client_v5/css/1/color_out.css" type="text/css" media="screen" />
<link rel="stylesheet" rev="stylesheet" href="/qzonestyle/qzone_client_v5/css/1/extend_skin_out.css" type="text/css" media="screen"/>-->
<!--[if IE 6]>
<script type="text/javascript">
 // <![CDATA[
        try{
	      document.execCommand("BackgroundImageCache", false, true);
	    }
	   catch(e){}
// ]]>
</script>
<![endif]-->
</head>
<body id="app_mod" style="padding-bottom:105px;">
<script>
if (parent.QZONE.FrontPage.isInPengyou && parent.QZONE.FrontPage.isInPengyou()) {
	document.write([
		'\<div style="font-size:14px; line-height:20px; margin:1px 0 7px 25px; position:relative;"\>',
			'\<a href="http://profile.pengyou.com/index.php?mod=profile&u=' + parent.g_iUin + '" class="c_tx" target="_parent"\>' + parent.QZONE.FP.getNickname() + '\<\/a\>\<span style="margin:0 5px;"\>-\<\/span\>\<span\>相册\<\/span\>',
		'\<\/div\>'
	].join(''));
}
</script>
<div class="bg_mode">
	<div class="box_ml bor">
		<div class="mode_gb" style="zoom:1;">
			<div class="mode_gb_title style_mode_gb_title" style="height:auto">
				<div class="bg_mode_gb_title">
					<div class="mod_clear bor3 header">
						<p class="nav"><a hidefocus="true" id="album_link" href="albumList.html" onclick="myView.tcisdStats('goto_myablum');" title="我的相册" class="unline">我的相册</a><span class="symbol">&gt;</span><span id="album_name"></span></p>
						<p class="option qzone-display">查看方式： <span class="view_normal_current" title="普通模式"><span>普通</span></span> <a id="wall_view_href" hidefocus="true" href="javascript:void(0);" onclick="myView.tcisdStats('photowall_view');myView.photoWall();return false;" title="照片墙模式" class="c_tx view_wall"><span>照片墙</span></a> <a hidefocus="true" href="javascript:void(0);" id="statistic_slide" onclick="myView.tcisdStats('slide_view');myView.slide();return false;" title="幻灯片模式" class="c_tx view_slide"><span>幻灯片</span></a> <a hidefocus="true" href="javascript:void(0);" onclick="myView.tcisdStats('personality_view');myView.personalAlbum();return false;" title="个性相册模式" class="c_tx view_personality"><span>个性相册</span></a></p>
					</div>
				</div>
			</div>
			<div class="mode_gb_cont">
				<!-- 相册 开始 -->
				<div class="photo" style="padding-bottom:75px">
					<!--= 相册列表 开始 =-->
					<div class="list_photo">
						<div class="mod_clear wrap">
							<div class="section">
								<!--= 选项列表 开始 =-->
								<!--== 默认 开始 ==-->
								<!-- 新工具条 开始 -->
								<div class="photo_toolbar visitor-display">
									<ul>
										<li>
											<a hidefocus="true" id="statistic_share" href="##" title="和好友分享该相册" onclick="myView.tcisdStats('operationbar.shareablum');myView.callExt('share');return false;" class="c_tx link_normal">分享给好友</a>
										</li>
										<li>
											<a hidefocus="true" id="statistic_copy" href="##" title="复制本页地址" onclick="myView.tcisdStats('operationbar.copyurl');myView.copyUrl();return false;" class="c_tx link_normal">复制地址</a>
										</li>
										<li class="qzone-display">
											<a hidefocus="true" id="statistic_gift_visitor" href="##" target="_blank" title="照片礼物" class="c_tx link_normal">照片礼物</a><!--<span class="icon new_icon"><span>最新！</span></span>-->
										</li>
									</ul>
								</div>
								
								<div class="photo_toolbar author-display">
									<ul>
										<li id="bar_upload_v5" style="display:none"><button id="statistic_upload" type="button" class="bt_tx4" onclick="myView.tcisdStats('operationbar.upload',true);myView.callExt('upload');">上传照片</button></li>
										<li id="bar_upload_v6" style="display:none">
											<a hidefocus="true" href="##" title="上传照片" onclick="myView.tcisdStats('operationbar.upload',true); myView.callExt('upload');return false;" class="c_tx link_normal">上传照片</a>
										</li>
										<li>
											<a hidefocus="true" href="##" title="批量管理照片" onclick="myView.callExt('toggleMode');return false;" id="edit_mode_btn" class="c_tx link_normal">管理</a>
										</li>
										<li>
											<a id="more_sort" hidefocus="true" href="##" title="手动拖拽排序" onclick="myView.tcisdStats('operationbar.sort',true); myView.callExt('sort',[3]);return false;" class="c_tx link_normal">排序</a>
										</li>
										<!--<li class="drop_list_v2">
											<a href="##" title="排列照片的顺序" onclick="return false;" id="more_sort" class="c_tx link_normal drop_list_link_v2" hidefocus="true"><span class="link_cont">
												排序<span class="symbol"></span><span class="symbol arrow">▼</span>
											</span></a>
											<div class="bg bor drop_list_cont dl_normal" style="width:100px; display:none;">
												<ul>
													<li><a hidefocus="true" href="##" title="倒序" onclick="myView.callExt('sort',[1]);return false;">倒序</a></li>
													<li><a hidefocus="true" href="##" title="按照片名[0-9][A-Z]" onclick="myView.callExt('sort',[2]);return false;">按照片名[0-9][A-Z]</a></li>
													<li><a hidefocus="true" href="##" title="手动拖拽排序" onclick="myView.callExt('sort',[3]);return false;">手动拖拽排序</a></li>
												</ul>
											</div>
										</li>-->	
										<li class="qzone-display">
											<a hidefocus="true" href="/qzone/client/photo/pages/vphoto/index.htm" onclick="myView.tcisdStats('operationbar.dynamicablum',true);" title="制作动感影集" id="make_flash" target="_blank" class="c_tx link_normal">做影集</a>
										</li>
										<li class="qzone-display">
											<a hidefocus="true" href="##" title="展示在自己空间首页" id="statistic_qzonecover" onclick="myView.callExt('setQzoneCover');return false;" class="c_tx link_normal">首页展示</a>
										</li>



										<li>
											<a hidefocus="true" href="javascript:void(0);" title="和好友分享该相册" id="statistic_share2" onclick="myView.tcisdStats('operationbar.shareablum');myView.callExt('share');return false;" class="c_tx link_normal">分享</a>
										</li>
										<li>
											<a hidefocus="true" href="javascript:void(0);" title="复制本页地址" id="statistic_copy" onclick="myView.tcisdStats('operationbar.copyurl');myView.copyUrl();return false;" class="c_tx link_normal">复制地址</a>
										</li>
										
										<li class="qzone-display" style="display:none">
											<a hidefocus="true" id="statistic_gift_owner" target="_blank" href="##" title="照片礼物" class="c_tx link_normal">照片礼物</a><!--<span class="icon new_icon"><span>最新！</span></span>-->
										</li>

										<li id="op_li_more" class="drop_list_v2">
											<a id="more_func" href="javascript:void();" onclick="return false;" title="其他更多功能" class="c_tx link_normal drop_list_link_v2" hidefocus="true">
											<span class="link_cont">
												更多<span class="symbol"></span><span class="symbol arrow">▼</span>
											</span></a>
											<div class="bg bor drop_list_cont dl_normal" style="display:none;">
												<ul>
													<li class="qzone-display"><a hidefocus="true" href="##" title="装扮该相册" id="make_personal_link" onclick="myView.tcisdStats('operationbar.setpersonalablum',true);myView.callExt('makePersonalAlbum');return false;">设置个性相册</a></li>
													<li class="qzone-display"><a hidefocus="true" hidefocus="true" href="##" title="照片插入日志" id="statistic_blog" onclick="myView.tcisdStats('operationbar.writeblog',true);myView.callExt('writeDiary');return false;">发表到日志</a></li>
													<li id="op_li_mod_album"><a hidefocus="true" href="##" title="修改该相册" onclick="myView.tcisdStats('operationbar.editabluminfo',true);myView.callExt('modInfoAndPriv');return false;">修改相册信息<span class="qzone-display">、权限</span></a></li>
													<li id="op_li_del_album"><a hidefocus="true" href="##" title="删除该相册" onclick="myView.tcisdStats('operationbar.deleteablum',true);myView.callExt('delAlbum');return false;">删除相册</a></li>
												</ul>
											</div>
										</li>
									</ul>
								</div>
								
								
								<!-- 新工具条 结束 -->
								
								<!--== 默认 结束 ==-->

								<!--== 管理 开始 ==-->
								<div class="photo_toolbar photo_toolbar_op" id="photo_edit_div" style="display:none;">
								</div>
								<!--== 管理 结束 ==-->
								<!--= 选项列表 结束 =-->

								<!--= 列表 开始 =-->
								<div class="mod_clear list">
									<ul id="photo_list">
										<div style="margin-top:170px;height:300px;text-align:center;">正在获取相册信息，请稍候...</div>
									</ul>
									<p id="empty_notice" class="notice" style="display:none">相册内还没有照片，<a href="javascript:void(0);" title="马上去上传照片" class="unline">马上去上传照片</a></p>
								</div>
								<!--= 列表 结束 =-->

								<!--= 页码 开始 =-->
								<div class="page_nav list_page_nav" id="page_turner" style="display:none;">
								</div>
								<!--= 页码 结束 =-->
								
								<!-- 最近访客 开始 -->

								<div class="mod bor mod_recent_visitors" id="panel_visitor" style="display:none">
									<div class="hd" id="visitor_title">
										<h4>本相册最近访客</h4>
									</div>
									<div class="bd" id="visitor_list" >   
									    <ul id="visitor_new" >
											<li>
												正在获取最近访客列表...
											</li>
										</ul>
										<ul id="visitor_others" style="display:none">

										</ul>
									</div>
								</div>
								<!-- 最近访客 结束 -->
								
								<!--= 评论 开始 =-->
								<div class="comment">
									<!--div class="bor3 tit">
										<h5><a id="btn_comment" href="javascript:void(0);" style="margin:0;">评论<span id="cmt_total"></span></a> <span id="btn_like" class="qzone-display" href="javascript:void(0);"></span></h5> 
									</div-->
									<div class="bor3 hd" id="ops_bar">
										<span id="btn_like" href="javascript:void(0);" title="赞" class="d1"></span> <a id="comment_link" href="javascript:void(0);" title="我也评论一下" class="c_tx d1">评论<span id="comment_num"></span></a> <a href="##" id="share_link" title="分享给好友" class="c_tx d1">分享</a> <a href="##" id="share_link" title="转到我的相册" class="c_tx d1 none">转载</a> 
									</div>
									<div id="mod_comment" style="width:80%"></div>
								</div>
								<!--= 评论 结束 =-->
							</div>
							<div class="bor3 bg3 aside" id="album_info">
							</div>
						</div>

					</div>
				</div>
				<!-- 相册列表 结束 -->
			</div>
		</div>
	</div>
</div>
</body>
<script>
document.write([
'\<script type="text/javascript" src="'+frameElement.g_qzflUrl+'"\>\<\/script\>',
'\<script src="/qzone/v8/applib/embeded.js"\>\<\/script\>',
'\<script src="/qzone/photo/zone/script/AlbumGet.js?max_age=2592000&v='+frameElement.g_photoVersion+'"\>\<\/script\>',
'\<script src="/qzone/photo/zone/script/photoListView.js?'+frameElement.g_photoVersion +'.js"\>\<\/script\>',
'\<script src="/qzone/photo/zone/script/Module.js"\>\<\/script\>',
'\<script type="text/javascript" src="/qzone/app/f4a/F4A_1.2.lite.js"\>\<\/script\>',
'\<script type="text/javascript" src="/qzone/app/controls/pager/pager.js"\>\<\/script\>',
'\<script type="text/javascript" src="/qzone/app/controls/substitutor/substitutor_2.0.js"\>\<\/script\>',
'\<script type="text/javascript" src="/qzone/app/controls/sensibleEditor/sensibleEditor_2.1.js"\>\<\/script\>',
'\<script type="text/javascript" src="/qzone/app/controls/commentModule/commentModule_1.3.js"\>\<\/script\>',
'\<script type="text/javascript" src="/qzone/app/controls/commentModule/commentModule.models.js"\>\<\/script\>'
].join(""));
</script>
<script id="tmpl_visitor_title" type="text/html">
<div class="mod_recent_visitors_tit">
<h4>本相册最近访客</h4>
<% if (QZONE.FP.getUserBitmap(5, 1) == 0 && QZONE.FP.getUserBitmap(7, 1) == 0 && QZONE.FP.getUserBitmap(52, 1) == 0){ %>
<a href="javascript:AlbumRecentVisitors.editRight()" title="设置" class="qzone-display author-display c_tx">设置</a>
<% }%>
<% if (globalInfo.visitorCount > globalInfo.showNum){ %>
<a id="visitor_show_more" href="javascript:AlbumRecentVisitors.showMore()" title="查看最近<%=globalInfo.visitorCount%>位访客" class="c_tx" style="">查看最近<%=globalInfo.visitorCount%>位访客 <span class="symbol">&darr;</span></a>
<a id="visitor_hide_more" href="javascript:AlbumRecentVisitors.hideMore()" title="收起" class="c_tx" style="display:none">收起 <span class="symbol">&uarr;</span></a>							
<%}%>
</div>
<p class="mod_recent_visitors_op">访客总数:<%=globalInfo.allVisitTotal%></p>
</script>

<script id="tmpl_visitor_new" type="text/html">
<%for (var i = 0 ; i < globalInfo.showNum && i < list.length; i++){%>
	<% if (list[i].source != "4"){ %>
	<li id="<%=('visitor_' + list[i].visitUin)%>">
	<%}else{%>
	<li id="<%=('visitor_' + list[i].uinEncode)%>">
	<%}%>
		<p class="user_head_50 avatar">
			<% if (list[i].source != "4"){ %>
			<a target="_blank" href="http://user.qzone.qq.com/<%=list[i].visitUin%>"  link="nameCard_<%=list[i].visitUin%>" class="<%if(QPHOTO.status.inQzone){%>q_namecard <%}%>visitor_hotclick">
				<span class="skin_portrait_round">&nbsp;</span>
				<img src="<%=list[i].avatarUrl%>" style="width:50px; height:50px;" alt="<%=list[i].visitName%>"/>
			</a>
			<%}else{%>
			<a class="visitor_hotclick" target="_blank" href="http://profile.pengyou.com/index.php?mod=profile&u=<%=list[i].uinEncode%>" title="朋友网">
				<span class="skin_portrait_round">&nbsp;</span>
				<img src="<%=list[i].avatarUrl%>" style="width:50px; height:50px;" alt="<%=list[i].visitName%>"/>
			</a>
			<%}%>
		</p>
		<p class="name">
			<% if (list[i].source != "4"){ %>
			<a class="visitor_hotclick" target="_blank" href="http://user.qzone.qq.com/<%=list[i].visitUin%>" title="<%=list[i].visitName%>"><%=list[i].visitName%></a>
			<% }else{ %>
			<a class="visitor_hotclick" target="_blank" href="http://profile.pengyou.com/index.php?mod=profile&u=<%=list[i].uinEncode%>" title="<%=list[i].visitName%>"><%=list[i].visitName%></a>
			<% } %>
			<%if (typeof list[i].yellowLevel !="undefined" && list[i].yellowLevel > 0 && QPHOTO.status.inQzone){%>
				<%if (typeof list[i].bYellow !="undefined" && list[i].bYellow ==1 ){%>
					<i class="qz_vip_icon_s_<%=list[i].yellowLevel%>"></i>
				<%}else{%>
					<i class="qz_vip_icon_s_gray_<%=list[i].yellowLevel%>"></i>
				<%}%>
			<%}%>
		</p>
		<p class="c_tx3 time"><%=$formatTime(new Date(list[i].visitTime*1000))%></p>
			
		<% if (list[i].source != "4"){ %>
		<p class="album" style="display:none"><a href="http://user.qzone.qq.com/<%=list[i].visitUin%>/photo" class="c_tx" target="_blank">看TA的相册</a></p>				
		<p class="del" id="p_visitor_del_<%=list[i].visitUin%>"><a href="javascript:void(0)" title="删除记录" class="c_tx" id="visitor_del_<%=list[i].visitUin%>">删除记录</a></p>
		<%} else{%>
		<p class="album" style="display:none"><a href="http://baseapp.pengyou.com/<%=list[i].uinEncode%>/photo" class="c_tx" target="_blank">看TA的相册</a></p>		
		<p class="del" id="p_visitor_del_<%=list[i].uinEncode%>"><a href="javascript:void(0)" title="删除记录" class="c_tx" id="visitor_del_<%=list[i].uinEncode%>">删除记录</a></p>
		<%}%>	
	</li>
<%}%>
</script>
<script id="tmpl_visitor_others" type="text/html">
<%for (var i = globalInfo.showNum; i < list.length; i++ ){%>
	<% if (list[i].source != "4"){ %>
	<li id="<%=escHTML('visitor_' + list[i].visitUin)%>">
	<%}else{%>
	<li id="<%=escHTML('visitor_' + list[i].uinEncode)%>">
	<%}%>
		<p class="user_head_50 avatar">
			<% if (list[i].source != "4"){ %>
			<a target="_blank" href="http://user.qzone.qq.com/<%=list[i].visitUin%>"  link="nameCard_<%=list[i].visitUin%>" class="<%if(QPHOTO.status.inQzone){%>q_namecard <%}%>visitor_hotclick">
				<span class="skin_portrait_round">&nbsp;</span>
				<img src="<%=list[i].avatarUrl%>" style="width:50px; height:50px;" alt="<%=list[i].visitName%>"/>
			</a>
			<%}else{%>
			<a class="visitor_hotclick" target="_blank" href="http://profile.pengyou.com/index.php?mod=profile&u=<%=list[i].uinEncode%>" title="朋友网">
				<span class="skin_portrait_round">&nbsp;</span>
				<img src="<%=list[i].avatarUrl%>" style="width:50px; height:50px;" alt="<%=list[i].visitName%>"/>
			</a>
			<%}%>
		</p>
		<p class="name">
			<% if (list[i].source != "4"){ %>
			<a class="visitor_hotclick" target="_blank" href="http://user.qzone.qq.com/<%=list[i].visitUin%>" title="<%=list[i].visitName%>"><%=list[i].visitName%></a>
			<% }else{ %>
			<a class="visitor_hotclick" target="_blank" href="http://profile.pengyou.com/index.php?mod=profile&u=<%=list[i].uinEncode%>" title="朋友网"><%=list[i].visitName%></a>
			<% } %>
			<%if (typeof list[i].yellowLevel !="undefined" && list[i].yellowLevel > 0 && QPHOTO.status.inQzone){%>
				<%if (typeof list[i].bYellow !="undefined" && list[i].bYellow ==1 ){%>
					<i class="qz_vip_icon_s_<%=list[i].yellowLevel%>"></i>
				<%}else{%>
					<i class="qz_vip_icon_s_gray_<%=list[i].yellowLevel%>"></i>
				<%}%>
			<%}%>
		</p>
		<p class="c_tx3 time"><%=$formatTime(new Date(list[i].visitTime*1000))%></p>

		<% if (list[i].source != "4"){ %>
		<p class="album" style="display:none"><a href="http://user.qzone.qq.com/<%=list[i].visitUin%>/photo" class="c_tx" target="_blank">看TA的相册</a></p>				
		<p class="del" id="p_visitor_del_<%=list[i].visitUin%>"><a href="javascript:void(0)" title="删除记录" class="c_tx" id="visitor_del_<%=list[i].visitUin%>">删除记录</a></p>
		<%} else{%>
		<p class="album" style="display:none"><a href="http://baseapp.pengyou.com/<%=list[i].uinEncode%>/photo" class="c_tx" target="_blank">看TA的相册</a></p>		
		<p class="del" id="p_visitor_del_<%=list[i].uinEncode%>"><a href="javascript:void(0)" title="删除记录" class="c_tx" id="visitor_del_<%=list[i].uinEncode%>">删除记录</a></p>
		<%}%>
	</li>
<%}%>
</script>
<script id="tmpl_visitor_none" type="text/html">
<li>
暂无访客
</li>
</script>
<script>
var g_uinPercent = 10;
QPHOTO.util.pageInt(Page.init);
myView.opbar.renderIn($('ops_bar'));
if (QZONE.FP.getQzoneConfig().version == 6){
	try{
		if (QZONE.FP.getQzoneConfig().loginUin == QZONE.FP.getQzoneConfig().ownerUin){
			$('bar_upload_v6').style.display = "";	
		}
	}catch(e){}
}else{
	try{
		$('bar_upload_v5').style.display = "";	
	}catch(e){}
}
</script>
<script>
if (QPHOTO.status.inQzone) {
	document.write('\<script language="javascript" src="/qzone/ping.js"\>\<\/script\>');
} else { //py
	var tcisd = QZONE.FP._t.TCISD;
	tcisd.pv.config.webServerInterfaceURL = 'http://pingfore.pengyou.com/pingd';
	tcisd.pv('xiaoyou.qq.com', '/index/photo/album.php');
}
!QPHOTO.status.inPengyou && (function() {
var w = QZONE.FP._t;
if (w.g_version!=6) return;
QZONE.FP.setScrollTop(w.QZFL.dom.getPosition('pageApp').top - (ua.ie == 6 ? 0 : w.QZFL.dom.getPosition('QZ_Toolbar_Container').height));
}) ();
</script>
</html>
<!--[if !IE]>|xGv00|2d7ea36d135d000830aaed5e9cac1831<![endif]-->